# Ignore files and directories commonly excluded in Node.js projects

# Node.js dependencies and build artifacts
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Editor-specific files
.vscode/
.idea/

# Build artifacts
build/
dist/
out/
tmp/
*.log

# Other temporary or development files
.DS_Store
Thumbs.db
*.swp
*.swo
